<div class="general">
    <div class="banner">
        <app-left-banner></app-left-banner>
    </div>
    <div class="banner-buttons" fxLayout="row" fxLayoutAlign="center center" >
        <mat-form-field class="example-form-field">
            <mat-label>Id</mat-label>
            <input matInput type="number" [(ngModel)]="value">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button (click)="getEmployeeId()" mat-raised-button color="primary">Search</button>
    </div>
    <div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="info-space" fxLayout="column" fxLayoutAlign="space-around center">
                <h1>ID </h1>
                <h2>{{employeeData.id}}</h2>
            </div>
            <div class="info-space" fxLayout="column" fxLayoutAlign="space-around center">
                <h1>NAME</h1>
                <h2>{{employeeData.employee_name}}</h2>
            </div>
            <div class="info-space" fxLayout="column" fxLayoutAlign="space-around center">
                <h1>SALARY</h1>
                <h2>{{employeeData.employee_salary}}</h2>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="info-space" fxLayout="column" fxLayoutAlign="space-around center">
                <h1>ANUAL SALARY</h1>
                <h2>{{employeeData.employee_anual_salary}}</h2>
            </div>
            <div class="info-space" fxLayout="column" fxLayoutAlign="space-around center">
                <h1>AGE</h1>
                <h2>{{employeeData.employee_age}}</h2>
            </div>
            <div class="info-space" fxLayout="column" fxLayoutAlign="space-around center">
                <h1>PROFILE IMAGE</h1>
                <h2>{{employeeData.profile_image}}</h2>
            </div>
        </div>
    </div>    
</div>
